header {
	background-color: red;
	color:white;
	text-align:center;
	font-family: cursive;
}

footer {
	background-color: red;
	color:white;
	text-align:center;
	width: 100%; 
	bottom: 0; 
	position: fixed;
}

body {
	background-color: #FF937C
}

a {
	font-family: cursive;
	text-decoration: underline;
	font-weight: none;
}

a:link {
	color: green;
}

a:visited {
	color: red;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}
